.container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1em 4em;
  border-bottom: 1px solid #ccc;
}

.loginbtn {
  width: 7em;
  height: 1.5em;
  border-radius: 2em;
  background-color: #62dafb;
  cursor: pointer;
  color: white;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  font-size: 1.6em;
}
