.container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 1em 4em;
  border-bottom: 1px solid #ccc;
}

.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
