.container {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
